<header>
	<div class="container">
	<a href="<%- config.root %>">
		<div class="logo-gutter">
    		<h1 class="page-title"><span class="logo"></span><%- config.title %></h1>
    	</div>
	</a>
	</div>
</header>