//colors
color-font = #201D0D
color-background = #fff
color-headers = #201D0D
color-title = #EA5B35
color-link = #EA5B35
color-highlight1 = #eee
color-highlight2 = #999

//defining fonts
font-body = "Noto Serif", serif
font-headers = "Open Sans", sans-serif
font-title = "Norican", serif
font-code = "Source Code Pro" Inconsolata, monospace, sans-serif

//font sizes
font-size = 1.5em
font-size-h1 = 3.3em
font-size-h2 = 2.5em
font-size-h3 = 2.1em
font-size-h4 = 1.8em
font-size-h5 = 1.6em
font-size-h6 = 1.5em
font-size-meta = 0.8em
font-size-title = 8em
font-size-footer = 0.7em
header-logo-size = 200px

size-tablet = 0.8
size-phone = 0.7